# git
.git

# docker file itself
Dockerfile

# screenshots
screenshots/

# node/npm/yarn stuff
node_modules
**/node_modules/
.browser_modules
lib
**/lib
**/src-gen
yarn.lock

# log files
*.log

# temp files
tmp

# jon's personal stuff
.jonrad

# currently don't support the electron app in docker
packages/electron-app
